PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "username" varchar, "role" varchar not null default 'user', "status" varchar not null default 'active');
INSERT INTO users VALUES(1,'Admin PERABOTAN RUMAHKU','admin@perabotanrumahku.com',NULL,'$2y$12$LnVeiBZ6vx94Ja3TJdMS0er.W4jMsHeKJInMDNdoT0EbTilmcMua6','yAb4YUCZfPZf3YCZKeaSSppYKZxkIonPNe0Hc0iwjWYOowJoJSsU7HB9p2fb','2026-08-02 04:28:23','2026-08-02 04:28:23','admin','admin','active');
INSERT INTO users VALUES(2,'Budi Santoso','customer@perabotanrumahku.com',NULL,'$2y$12$LfrecGvk/TOnDA9JUOL9.ekSjXJQzs1JwaBUKpNeRXJ.6YqrUnoo.',NULL,'2026-08-02 04:28:24','2026-08-02 04:56:38','budi','user','active');
INSERT INTO users VALUES(3,'Rigoberto Jones','xflatley@example.com',NULL,'$2y$12$5eAYYhzbij4zas1t/9eeTexUXZAm2ZxGV2fDUsNriYK5Wov4PQT2u',NULL,'2026-08-02 04:28:24','2026-08-02 04:28:24','dorcas980','user','active');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
INSERT INTO password_reset_tokens VALUES('priatuaqw@gmail.com','$2y$12$/rptY73AEJbiQJ5jInug.ucJXiDTczAiNnONOJXy1Wkn2yI2HrVn2','2026-08-02 05:10:19');
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('pMan75cWXltLSx63QuYZFKdVNkPa3dUhe3LVf6we',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Herd/1.29.0 Chrome/120.0.6099.291 Electron/28.2.5 Safari/537.36','YTozOntzOjY6Il90b2tlbiI7czo0MDoiTkgxUVFlMlVVaTQ1RmJWRDBTb3FiNThOVlFhSDJiYVJqVDlNNUpjYiI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6MzA6Imh0dHA6Ly9kZmZmLnRlc3QvP2hlcmQ9cHJldmlldyI7czo1OiJyb3V0ZSI7czo0OiJob21lIjt9czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319fQ==',1785689358);
INSERT INTO sessions VALUES('XrpLZAiaQGipSXAzjmJGxDWTCVxlP6MaDSkI57Ug',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/151.0.0.0 Safari/537.36 Edg/151.0.0.0','YTozOntzOjY6Il90b2tlbiI7czo0MDoib0wzTEszTDRvWWtLZ3hOWGtBNWM5cGZJS1BSOUxYbTBSOFJodHVCdCI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6MTY6Imh0dHA6Ly9kZmZmLnRlc3QiO3M6NToicm91dGUiO3M6NDoiaG9tZSI7fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fX0=',1785689359);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "products" ("id" integer primary key autoincrement not null, "name" varchar not null, "category" varchar not null, "image" varchar, "description" text, "stock" integer not null default '0', "price" numeric not null default '0', "created_at" datetime, "updated_at" datetime);
INSERT INTO products VALUES(1,'Lemari Pakaian Minimalis 3 Pintu','Lemari','products/KNbgbwYjMNJBjxUi9sYbvXNlOJh7sdfpVyqcOkXK.jpg','Lemari pakaian minimalis dengan 3 pintu sliding, material HDF berkualitas, cocok untuk kamar tidur modern.',12,2450000,'2026-08-02 04:28:27','2026-08-02 07:19:44');
INSERT INTO products VALUES(2,'Lemari TV Rack Kayu Jati','Lemari','products/wLRQRJZpeLJIX55Wm1LQDnpX48PX4KP61gZjseqc.webp','Rak TV dari kayu jati dengan finishing natural, memiliki laci dan rak penyimpanan.',8,1850000,'2026-08-02 04:28:27','2026-08-02 05:07:00');
INSERT INTO products VALUES(3,'Kursi Kantor Ergonomis','Kursi','products/NzAJiIx7dQnX0SwBpKqfpGsw1BF3R3L45oWTJepe.webp','Kursi kantor ergonomis dengan sandaran jaring, penyangga lumbar, dan tinggi adjustable.',20,899000,'2026-08-02 04:28:27','2026-08-02 05:07:23');
CREATE TABLE IF NOT EXISTS "product_variants" ("id" integer primary key autoincrement not null, "product_id" integer not null, "name" varchar not null, "stock" integer not null default '0', "price" numeric, "created_at" datetime, "updated_at" datetime, foreign key("product_id") references "products"("id") on delete cascade);
INSERT INTO product_variants VALUES(1,1,'Warna Putih',5,NULL,'2026-08-02 04:28:27','2026-08-02 04:28:27');
INSERT INTO product_variants VALUES(2,1,'Warna Coklat',7,NULL,'2026-08-02 04:28:27','2026-08-02 04:28:27');
INSERT INTO product_variants VALUES(3,3,'Hitam',10,899000,'2026-08-02 04:28:27','2026-08-02 04:28:27');
CREATE TABLE IF NOT EXISTS "transactions" ("id" integer primary key autoincrement not null, "user_id" integer not null, "total_price" numeric not null default '0', "shipping_cost" numeric not null default '0', "payment_method" varchar not null default 'COD', "shipping_address" text not null, "status" varchar not null default 'pending', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO transactions VALUES(1,5,12037000,0,'COD',replace('Alberta Emard V\n083995296987\nJl. Barton Estates No. 178, Port Ashly','\n',char(10)),'completed','2026-07-31 08:28:27','2026-06-18 04:28:27');
INSERT INTO transactions VALUES(2,3,2597000,0,'COD',replace('Rigoberto Jones\n082897681093\nJl. Avis Ferry No. 117, North Darlenefort','\n',char(10)),'processing','2026-06-05 07:28:27','2026-06-11 04:28:27');
INSERT INTO transactions VALUES(3,1,7788000,0,'COD',replace('Admin PERABOTAN RUMAHKU\n085452641665\nJl. Peyton Forest No. 7, Port Angel','\n',char(10)),'completed','2026-07-17 08:28:27','2026-07-24 04:28:27');
CREATE TABLE IF NOT EXISTS "transaction_details" ("id" integer primary key autoincrement not null, "transaction_id" integer not null, "product_id" integer not null, "variant_id" integer, "quantity" integer not null, "subtotal" numeric not null, "created_at" datetime, "updated_at" datetime, foreign key("transaction_id") references "transactions"("id") on delete cascade, foreign key("product_id") references "products"("id") on delete cascade, foreign key("variant_id") references "product_variants"("id") on delete set null);
INSERT INTO transaction_details VALUES(1,1,1,1,3,7350000,'2026-08-02 04:28:27','2026-08-02 04:28:27');
INSERT INTO transaction_details VALUES(2,1,15,NULL,3,987000,'2026-08-02 04:28:27','2026-08-02 04:28:27');
INSERT INTO transaction_details VALUES(3,1,2,NULL,2,3700000,'2026-08-02 04:28:27','2026-08-02 04:28:27');
INSERT INTO sqlite_sequence VALUES('migrations',8);
INSERT INTO sqlite_sequence VALUES('users',9);
INSERT INTO sqlite_sequence VALUES('products',15);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "cache_expiration_index" on "cache" ("expiration");
CREATE INDEX "cache_locks_expiration_index" on "cache_locks" ("expiration");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "users_username_unique" on "users" ("username");
CREATE INDEX "products_category_index" on "products" ("category");
COMMIT;
